<% active = [""] * 2 %>
<% active[index] = 'class="active"' %>

<ul class="nav nav-pills nav-justified" style="margin-bottom: 20px">
  <li role="presentation" <%=active[0]%>><a href="/admin/<%= h @board.id %>">板の設定</a></li>
  <li role="presentation" <%=active[1]%>><a href="/admin/<%= h @board.id %>/threads">スレッド管理</a></li>
</ul>
