<div class="container">

<h1><%= @title %></h1>

<ul class="list-group">
<% @boards.each do |board| %>
<li class="list-group-item"><a href="/<%= board.id %>/"><%= board.title %></a></li>
<% end %>
</ul>

</div>
