<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% if @title then %><%= h @title %><% else %>Genkai<% end %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/common.css">
    <script src="/common.js"></script>
    <script src="/bower_components/autosize/dist/autosize.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <%= @head %>
</head>
<body>
  <%= yield %>
<!--<footer>
  Genkai v0.0.1
</footer>-->
</body>
</html>
