<!doctype html>
<html lang="ja">
  <head>
    <title>Nitecast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/nitecast.png">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <style>
      #message {
          line-height: 18px;
          font-weight: bold; color: #ff8000; margin-top: 6px; font-size: 16px; padding-left: 2px;
          text-shadow: 0px -1px 0px #000080,
                       1px -1px 0px #000080,
                       1px 0px 0px #000080,
                       2px 0px 0px #000080,
                       3px 0px 0px #000080,
                       4px 0px 0px #000080,
                       1px 1px 0px #000080,
                       2px 1px 0px #000080,
                       3px 1px 0px #000080,
                       4px 1px 0px #000080,
                       1px 2px 0px #000080,
                       2px 2px 0px #000080,
                       3px 2px 0px #000080,
                       4px 2px 0px #000080,
                       1px 3px 0px #000080,
                       2px 3px 0px #000080,
                       3px 3px 0px #000080,
                       4px 3px 0px #000080,
                       1px 1px 0px #000080,
                       0px 1px 0px #000080,
                       -1px 1px 0px #000080,
                       -1px 0px 0px #000080,
                       -1px -1px 0px #000080;
      }
    </style>
  </head>
  <body style="margin: 0">
    <div style="line-height: 10px;  font-family: 'MS PGothic'; font-size: 12px; padding-top: 0px"><span style="display: inline-block; line-height: 16px; background-color: #c06060; color: #fff; padding-left: 4px; padding-right: 4px;">nitecast &#x1f9f5;<%= @thread.subject %><span id="netinfo"></span><span id="clock"></span></span><br><div id="message"></div></div>

  <audio id=kiri2 preload=auto src="/kiri2.wav"></audio>
  <button id=unmuteBtn style="margin-top: 16px; margin-left: 16px">ミュート解除</button>

  <script src="/yomiage.js"></script>
  <script>
    $yomiage_board_id = "<%= @board.id %>"
    $yomiage_thread_id = "<%= @thread.id %>"

    // クエリ文字列に webapi キーが指定された場合は speech.pcgw.pgw.jp の API を使う。
    // そうでなければ ブラウザ組み込みの 音声読み上げを使う。
    const params = new URLSearchParams(window.location.search)
    if (params.get('webapi') !== null)
        window.speakDispatch = speakHttpApi;
    else
        window.speakDispatch = speakSpeechSynthesis;

    if (params.get('silent') !== null)
        $silentMode = true;

    async function showNextMessage() {
        var post = $queue.shift();
        if (post.subject !== 'muted') {
            $('#message').html(post.body);
            var forSpeech = massage(post.body);
            console.log("forSpeech", forSpeech);
            if ($silentMode) {
                await delay(5000);
            } else {
                await speakDispatch(forSpeech);
            }
            await delay(5000 / ($queue.length+1));
            // ↑この式はケアが要る。
            $('#message').html('');
        } else {
            console.info('muted message skipped')
        }
    }

    function showUnmuteButton() {
        window.unmuteBtn.hidden = false;
    }
    // スクリプト主導の音声再生ができるかテストする。
    window.unmuteBtn.hidden = true
    if (!$silentMode) {
        new Audio("/enabled.wav").play().catch(err => {
            window.unmuteBtn.hidden = false;
        });
    }
    window.unmuteBtn.onclick = ev => {
        new Audio("/enabled.wav").play().then(_ => {
            window.unmuteBtn.hidden = true
        });
    };

    function updateNetworkType() {
        let text;
        switch (navigator.connection.type) {
            case 'cellular':
                text = "モバイル"
                break
            case 'wifi':
                text = "WiFi"
                break
            case 'none':
                text = "接続なし"
                break
            default:
                text = navigator.connection.type
                break
        }
        $('#netinfo').html(` &#x1f4f6; ${text}`);
    }

    function updateClock() {
        const d = new Date();
        const yy = d.getYear() % 100;
        const mon = ("" + (d.getMonth() + 1) ).padStart(2, '0');
        const mday = ("" + d.getDate() ).padStart(2, '0');
        const wday = "日月火水木金土"[d.getDay()];
        const hh = ("" + d.getHours() ).padStart(2, '0')
        const mm = ("" + d.getMinutes() ).padStart(2, '0')
        const ss = ("" + d.getSeconds() ).padStart(2, '0')

        const str = `${yy}年${mon}月${mday}日 (${wday}) ${hh}:${mm}:${ss}`;
        $('#clock').html(` &#x1f552; ${str}`);
    }

    async function main() {
        if (navigator.connection && navigator.connection.type) {
            updateNetworkType();
            navigator.connection.addEventListener('change', () => {
                updateNetworkType()
            });
        } else {
            console.log("Network type indicator is disabled.");
        }

        if (params.get('clock') !== null) {
            updateClock();
            setInterval(() => {
                updateClock();
            }, 1000)
        }

        while ($dat_size === null) {
            try {
                $dat_size = await getInitialDatSize();
            } catch(textStatus) {
                if (textStatus != "timeout")
                    await delay(10*1000);
            }
        }

        while (true) {
            while (true) {
                try {
                    var data = await getNewMessages();
                    console.log(data.posts);

                    $queue = $queue.concat(data.posts);
                    $dat_size = data.dat_size;
                    break;
                } catch(textStatus) {
                    if (textStatus !== "timeout") {
                        delay(5*1000);
                    }
                }
            }

            while ($queue.length) {
                await showNextMessage();
            }
        }
    }
    main();
  </script>

  </body>
</html>
