<script>
  $res_dialog_params = {}

  $(function(){
      async function getRes(board, thread, number) {
          return $.ajax(`/api/getRes/${board}/${thread}/${number}`,
                        { dataType: 'json', timeout: 10*1000 });
          
      }

      $('#res_dialog').on('show.bs.modal', function(){
          $('#res_dialog h4.modal-title').text(`レス${$res_dialog_params.number}`)

          // Go to
          const { board, thread, number } = $res_dialog_params
          $('#go_to').attr('href', `/test/read.cgi/${board}/${thread}/${number}`)
      }).on('shown.bs.modal', function(){})

      // Read aloud
      $("#res_dialog #read_aloud").on('click', async function(){
          const { board, thread, number } = $res_dialog_params
          const { post } = await getRes(board, thread, number)

          const forSpeech = massage(post.body);
          await speakDispatch(forSpeech);

          $('#res_dialog').modal('hide')
      })

      // Delete res
      $("#res_dialog #delete_res").on('click', async function(){
          const { board, thread, number } = $res_dialog_params

          if (!confirm(`${number} を削除しますか？`))
              return

          const fd = new FormData()
          fd.set('post_numbers[]', number)

          const res = await fetch(`/admin/boards/${board}/${thread}/delete-posts`, { method: 'POST', body: fd })
          // 成功するとリダイレクトバックされて 200 が返る。
          if (res.status != 200) {
              alert(`${res.status} エラー`);
              $('#res_dialog').modal('hide')
          } else {
              // 今の所レスの自動読み込み機能が範囲リクエストに失敗し
              // てエラーになるのでTLページ自体を再読込する。
              location.reload()
          }
      })

  })
</script>

<div class="modal fade" id="res_dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
        <h4 class="modal-title" style="font-family: monospace">res</h4>
      </div>

      <div class="modal-body">
        <div class="list-group" style="margin-bottom:0">
          <a class="list-group-item" id="read_aloud">読み上げる</a>
          <a class="list-group-item" id="go_to">レスへのリンク</a>
          <a class="list-group-item" id="delete_res">削除</a>
        </div>
      </div>
    </div>
  </div>
</div>
