<form action="/test/bbs.cgi" method="POST">
<div class="form-group">
  <label>タイトル</label>
  <input class="form-control" type="text" name="subject">
</div>
<div class="form-group">
  <label>名前</label>
  <input class="form-control" type="text" name="FROM">
</div>
<div class="form-group">
  <label>E-mail</label>
  <input class="form-control" type="text" name="mail">
</div>
<div class="form-group">
  <label>内容</label>
  <textarea class="form-control" name="MESSAGE"></textarea>
</div>
<div class="form-group">
  <input class="btn btn-default" type="submit" name="submit" value="新規スレッド作成">
</div>
<input type="hidden" name="bbs" value="<%= h @board.id %>">
</form>
