footer {
    margin-top: 20px;
    padding: 8px 15px 8px 15px;
    background-color: rgb(245, 245, 245);
}

.media {
    margin: 0;
    padding: 5px 0 5px 0;
    border-top: solid 2px #eee;
}

.monospace {
    font-family: monospace;
}

/* アスキーアートが崩れないようにレスの本文では、MSPゴシックを使う */
.nichan-message {
    font-family: "MS PGothic";
    font-size: 16px;
    line-height: 18px;
}

.nichan-message-small {
    font-family: "MS PGothic";
    font-size: 14px;
    line-height: 16px;
}

/* テキストエリアのスクロールバーを消す */
.no-resize {
    resize: none;
}

:root { color-scheme: light dark }
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #fff;
        margin-top: 1px;
    }
    .text-muted { color: #aaa }
    a, a:hover { color: #dd0 }

    .breadcrumb {
        background-color: inherit;
        border: 2px solid #f0f;
    }

    .panel { background-color: inherit }

    .media {
        border-top-color: #0a0;
    }

    .btn-default, .btn-default:active, .btn-default:hover, .btn-default:focus {
        text-shadow: none;
        background-image: none;
        background-color: #111;
        color: white;
        border-width: 2px;
    }

    .btn-primary { background-image: none; }

    .modal-content { background-color: #222 }
    .modal-header { border-bottom-color: #555 }
    .modal-footer { border-top-color: #555 }

    .form-control { color: #fff; background-color: #444 }

    .close, .close:focus, .close:hover { color: #fff }
}
